/* font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif; */
body{
    margin: 0;
    text-align: center;
    color:black;
}
h1{
    font-family: 'Merriweather', serif;
    font-size: 48px;
}
p{
    font-family: 'Lato', sans-serif;
    color: #202020;
}
div{
    width: 20%;
}
/* ====Style DarkMode=== */
.dark-mode{
    background-color: #000;
    color: white;
}
.dark-mode section:nth-of-type(1){
    background: url(../img/darkmode-img1.png) right/contain no-repeat;
}
.dark-mode section:nth-of-type(2){
    background: url(../img/darkmode-img2.png) left/contain no-repeat;
}
.dark-mode section:nth-of-type(3){
    background: url(../img/darkmode-img3.png) right/contain no-repeat;
}
/* ====Style Header==== */
header div {
    margin: 0;
    margin-top: 10px;
    display: inline-block;
    width: 5%;
    text-align: center;
    padding:5px;
    border: 1px solid #000;
    border-radius: 5px;
}
header div:nth-of-type(1){
    color:#fff;
    background: #000;
}
header ul{
    list-style: none;
    display: inline;
    text-align: right;
    padding-left: 75%;
}
header ul li{
    display: inline-block;
    padding-left: 20px;
}
header ul li a{
    text-decoration: none;
    color: #000;
    font-family: 'Lato', sans-serif;
}
/* ====Style Main==== */
main{
    margin: 0;
}
div{
    margin: 0;
}
/* ====Style Main Backgrounds==== */
main section:nth-of-type(1){
    background: url(../img/illustration1.gif) right/contain no-repeat;
}
main section:nth-of-type(2){
    background: url(../img/illustration2.png) left/contain no-repeat;
}
main section:nth-of-type(3){
    background: url(../img/illustration3.png) right/contain no-repeat;
}
/*====Style Main Sections====*/
main section div{
    width: 35%;
    text-align: left;
}
/*====Style Section 1====*/
main section:nth-of-type(1) div:first-child{
    padding: 200px 200px;
    margin-bottom: 24vh;
}
main section:nth-of-type(1) div:first-child div:nth-of-type(1){
    display: inline;
    margin-right: 10px;
    padding: 7px 20px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background: #000;
}
main section:nth-of-type(1) div:first-child div:nth-of-type(2){
    display: inline;
    padding: 7px 20px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 5px;
}
/*====Style Section 2====*/
main section:nth-of-type(2){
    margin-left: 5%;
}
main section:nth-of-type(2) div:first-child{
    padding: 200px 200px;
    margin-bottom: 24vh;
    margin-left: 40%;
}
/*====Style Section 3====*/
main section:nth-of-type(3){
    margin-right: 5%;
}
main section:nth-of-type(3) div:first-child{
    padding: 200px 200px;
    margin-bottom: 24vh;
}
/*====Style Section 4====*/
main section:nth-of-type(4){
    /* befüllen */
}
main section:nth-of-type(4) p{
    margin: 0 auto;
    margin-bottom: 60px;
    width: 35%;
}
main section:nth-of-type(4) img{
    width: 30%;
    margin-bottom: 150px;
}
/*====Style Section 5====*/
main section:nth-of-type(5){
    margin: 0 auto;
    margin-bottom: 80px;
    width: 30%
}
/*====Style Section 6====*/
main section:nth-of-type(6) img{
    width: 45%;
    padding: 20px;
    margin-bottom: 50px;
}
/*====Style Section 7====*/
main section:nth-of-type(7){
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 10vh;
    width: 30%
}
/*====Style Section 8====*/
main section:nth-of-type(8) div:first-child p{
    margin: 0 auto;
    padding-bottom: 5px;
}
main section:nth-of-type(8) div:first-child{
    margin: 0 auto;
    padding: 50px;
    width: 10%;
    text-align: center;
    border-radius: 10px;
    background: rgba(36, 191, 242, 0.2);
}
main section:nth-of-type(8) div:first-child span{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #24bff2;
    color: #fff;
}
main section:nth-of-type(8) div:first-child h3{
    color: #ccc;
}
/*====Style Footer====*/
footer h1{
    margin-top: 20vh;
}
footer h3{
    color: #ccc;
}
footer ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
footer ul li{
    display: inline;
    padding: 5px;
}
footer ul li:nth-of-type(1)::before{
    content:"\2022";
    color: royalblue;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
footer ul li:nth-of-type(2)::before{
    content:"\2022";
    color: orange;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
footer ul li:nth-of-type(3)::before{
    content:"\2022";
    color: cornflowerblue;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
footer ul li:nth-of-type(4)::before{
    content:"\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
